.mainApp {
  max-width: 740px;
  overflow: hidden;
}

.row1 > div {
  padding: 3px;
}

.row1 {
  margin: 0px;
}

.wrapper {
overflow: hidden;
width: 100%;
height: 63vh;
margin: auto;
}

.module {
  margin: auto;
  width: 100%;
  height: 100%;
}

.zoomValue {
  width: 30px;
}

.checked {
  background-color: pink !important;
}

.checkedArea {
  background-color: rgb(139, 206, 130) !important;
}

select {
  padding: 0;
}

input {
  padding: 6;
}


button, #inputColor {
  width: 35px;
  height: 35px;
  padding: 2px;
  background: white;
  border: 1px solid grey;
}

img {
  width: 100%;
}

.nav {
  height: 3.5em;
  line-height: 3.5em;
  border-bottom: 1px solid #f0e9e7;
}

.navParams div {
  padding: 0 5px;
}

.sidebar a {
  padding: 12px 8px;
  text-decoration: none;
  font-size: 1.1em;
  display: block;
  color: #8a8a5c;
}

.navFloor {
  height: 2.2em;
  line-height: 2.2em;
  font-size: 20px;
  border-bottom: 1px solid #f0e9e7;
}

.navFloor ul {
  list-style-type: none;
  padding-inline-start: 0;
}

.navFloor li {
  cursor: pointer;
  padding: 0 2px;
}

.navFloor a {
  text-decoration: none;
  color: #8a8a5c;
}

.activeFloor {
  color:#39ac73;
  font-weight: bold;
}

@media only screen and (min-width: 400px) {
  .wrapper {
    height: 67vh;
  }
}

@media only screen and (min-width: 650px) {
  .wrapper {
    height: 73vh;
  }
}

@media only screen and (min-width: 800px) and (orientation: landscape) {
  .wrapper {
    height: 70vh;
  }
}